---
import Layout from "@layout/Layout.astro";
import BookForm from "@components/Form/BookForm/BookForm";
import { serverURL } from "@common/common";

const authorResp = await fetch(`${serverURL}/authors`);
const authors = await authorResp.json();
const tagResp = await fetch(`${serverURL}/tags`);
const { tags } = await tagResp.json();
---

<Layout>
  <div class="container container-variant">
    <h1 style="text-align: center;">Add Book</h1>
    <BookForm
      authors={authors}
      endPoint={`${serverURL}/books`}
      method="POST"
      tags={tags}
      client:load
    />
  </div>
</Layout>
